@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

.header, .footer{
  display: flex;
  justify-content: space-between;
  padding:1px;
  flex-shrink: 0;
}
.left-links, .right-links{
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
  list-style-type: none;
  padding: 10px;
}
a {
  text-decoration: none;
  color: #6f6f6f;
}
.center{
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 0 0px;
}
.buttons {
  padding: 10px;
  margin: 10px;
}
.footer{
  background-color: #eeeeee;
}
.content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}