/* Add CSS Styling */
.odd{
    background-color: rgba(232, 140, 140, 0.85);
    font-family: Verdana,DejaVu Sans,sans-serif;
}
#second{
    color:  #0000FFFF;
    font-size : 36px;
}
.font24{
    font-size: 24px;
}
#fourth{
    background-color: #90EE90FF;
    font-weight: bold;
}