/* Add CSS Styling */
#first {
    background: #000;
    color: hsl(0, 0%, 100%);
}
#second {
    background: rgb(255, 255, 0);
    color: hsl(0, 0%, 0%);
}
.shared{
    font-size :28px ;
    font-family:  Helvetica , Times New Roman,  sans-serif;
}